# http://editorconfig.org
root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{html,tmpl}]
indent_style = space
indent_size = 2

[*.{js,vue}]
indent_style = space
indent_size = 2

[*.{css,scss}]
indent_style = space
indent_size = 2

[*.{yml,toml,json}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = true
