---
# yaml-language-server: $schema=https://www.schemastore.org/github-workflow.json
name: build

"on":
  workflow_dispatch:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v6

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install deps
        run: npm install --ci

      - name: Run linting
        run: npm run lint

      - name: Run build
        run: npm run build

  release:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/master' && github.event_name == 'push'

    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.BOT_ACCESS_TOKEN }}

      - name: Setup nodejs
        uses: actions/setup-node@v6
        with:
          node-version: 24.x
          cache: 'npm'
          cache-dependency-path: package-lock.json

      - name: Install deps
        run: npm install --ci

      - name: Run release
        if: github.ref == 'refs/heads/master' && github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_ACCESS_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run release

...
